form li
{
list-style: none;
margin-bottom: 20px;
}
form ul
{
  margin-left: 0;
}
label
{
  display:block;
  cursor: pointer;
  color: black;
  font-family: sans-serif;
  padding-bottom: 8px;
}
textarea
{
  width: 400px;
  height: 200px;
}
